canvas{
  width: 100%;
}
body {
  background:#000;
  color: #fff;
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.color{
  width: 1em;
  height: 1em;
  margin-top: 0.3em;
  float: right;
  border-radius: 50%;
  display: none;
}
.checked .color{
  display: inline-block;
  background-color: #222!important;
}
.selected{
  background-color: #111!important;
}
.collection-item:hover{
  background-color: #111!important;
  cursor: pointer;
}
.canvas-fixed{
  width: 70%;
  position: fixed;
  z-index: 108;
  top: 0;
  background-color: #000;
}
@media (max-width: 992px) {
  .canvas-fixed{
    width: 85%;
  }
}
.color:hover{
  cursor: auto;
}
.btn,
[for=toggle-grid]{
  margin-top: 0.5em;
}

#header{
  padding: 0.5em;
  font-size: 2em;
}