body {
  background: black;
  color: white;
  text-align: center;
  color: #999;
}

#wrap {
  max-width: 700px;
  margin: 0 auto 2em;
}

h1 {
  color: white;
}

p {
  line-height: 1.2;
}

a {
  color: #cccc99;
}

#output {
  border: 1px solid #444;
  background-color: #111;
}

strong {
  color: limegreen;
}