html {
  height: 100%;
}

body {
  background: #181090 fixed radial-gradient(transparent, rgba(255,255,255,0.2));
  color: #5090d0;
  text-align: center;
  font-family: monospace;
  height: 100%;
}

h1 {
  color: white;
}

canvas {

}
